/* Breakpoints */
/* Primary*/
/* Dark theme */
:root {
  box-sizing: border-box;
  font-size: 0.75em;
  /* Dynamic configuration for themes switch */
  --bg-color: hsl(0, 0%, 100%);
  --bg-top-color: hsl(225, 100%, 98%);
  --toggle-bg-color: hsl(230, 22%, 74%);
  --card-bg-color: #f0f3fa;
  --card-bg-hover-color: rgba(225, 227, 240, 1);
  --text-primary-color: hsl(230, 17%, 14%);
  --text-secondary-color: hsl(228, 12%, 44%);
}

body.dark-mode {
  --bg-color: hsl(230, 17%, 14%);
  --bg-top-color: hsl(232, 19%, 15%);
  --toggle-bg-color: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --card-bg-color: hsl(228, 28%, 20%);
  --card-bg-hover-color: rgba(51, 58, 86, 1);
  --text-primary-color: hsl(0, 0%, 100%);
  --text-secondary-color: hsl(228, 34%, 66%);
}

@media (min-width: 375px) {
  :root {
    font-size: 0.875em;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 1em;
  }
}
*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body * + * {
  margin-top: 1.5em;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf");
}
body {
  background: linear-gradient(var(--bg-top-color) 18em, var(--bg-color) 0);
  padding: 1em 2em;
  font-family: "Inter-Bold", sans-serif;
}

.header__title {
  margin-bottom: 0.25em;
  font-size: 1.75rem;
  font-family: "Inter-Bold";
  color: var(--text-primary-color);
}

.header__subtitle {
  margin-top: 0;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 1px solid var(--text-secondary-color);
}
.dark-mode-toggle h3 {
  font-weight: 400;
  color: var(--text-secondary-color);
}
.dark-mode-toggle .toggle-btn {
  margin-top: 0;
}
.dark-mode-toggle .toggle-btn:hover, .dark-mode-toggle .toggle-btn:active {
  opacity: 0.5;
}
.dark-mode-toggle .toggle-btn label {
  margin-top: 0;
}
.dark-mode-toggle .toggle-btn .tgl:checked + .tgl-btn {
  background: var(--toggle-bg-color);
}
.dark-mode-toggle .toggle-btn .tgl + .tgl-btn {
  background: var(--toggle-bg-color);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.dark-mode-toggle .toggle-btn .tgl + .tgl-btn:after {
  border-radius: 50%;
  background: var(--card-bg-color);
  transition: all 0.2s ease;
}

.overall {
  margin-bottom: 3.5em;
}
.overall article {
  background-color: var(--card-bg-color);
  border-radius: 0.25em;
}
.overall article:hover,
.overall article:active {
  cursor: pointer;
  background-color: var(--card-bg-hover-color);
}
.overall article > header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}
.overall article > header img {
  margin-right: 0.5em;
}
.overall article > header h4 {
  margin: 0;
  font-weight: 400;
  color: var(--text-secondary-color);
}
.overall article > div {
  text-align: center;
}
.overall article > div p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  color: var(--text-primary-color);
}
.overall article > div p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Inter-Regular";
  font-weight: 400;
  letter-spacing: 0.3em;
  color: var(--text-secondary-color);
}
.overall article > footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  color: #1db489;
}
.overall article > footer img {
  margin-right: 0.25em;
}
.overall article > footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.overall .facebook {
  border-top: 4px solid #198ff5;
}
.overall .twitter {
  border-top: 4px solid #1ca0f2;
}
.overall .instagram {
  border-top: 4px solid;
  border-image: linear-gradient(to right, #fdc468, #df4996) 1;
}
.overall .youtube {
  border-top: 4px solid #c4032a;
}
.overall .youtube h5 {
  color: #dc414c;
}

.overview__title {
  letter-spacing: 0.05em;
  font-size: calc(14 / 16) rem;
  color: var(--text-secondary-color);
}

.overview__content {
  display: block;
}
.overview__content article {
  background-color: var(--card-bg-color);
  border-radius: 0.25em;
  padding: 1.5em;
}
.overview__content article:hover,
.overview__content article:active {
  cursor: pointer;
  background-color: var(--card-bg-hover-color);
}
.overview__content article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview__content article > header img {
  display: block;
  margin-top: 0;
}
.overview__content article > header h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  color: var(--text-secondary-color);
}
.overview__content article > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.overview__content article > div p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  color: var(--text-primary-color);
}
.overview__content article > div div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #1db489;
}
.overview__content article > div div img {
  margin-right: 0.25em;
}
.overview__content article > div div h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.overview__content .facebook-likes h5,
.overview__content .youtube-likes h5,
.overview__content .youtube-views h5 {
  color: #dc414c;
}

@media screen and (min-width: 1440px) {
  body {
    background: linear-gradient(var(--bg-top-color) 20em, var(--bg-color) 0);
    padding-left: 8em;
    padding-right: 8em;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
  }

  .dark-mode-toggle {
    border-top: none;
    margin: 0;
  }
  .dark-mode-toggle h3 {
    margin: 0;
    padding-right: 1em;
  }

  .overall,
.overview__content .first-row,
.overview__content .second-row {
    display: flex;
    align-items: center;
  }
  .overall article,
.overview__content .first-row article,
.overview__content .second-row article {
    flex: 1;
    margin-top: 0;
  }
  .overall article:not(:last-child),
.overview__content .first-row article:not(:last-child),
.overview__content .second-row article:not(:last-child) {
    margin-right: 2em;
  }
}
.attribution {
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 0.825rem;
  color: var(--text-primary-color);
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
