@import "variables";

:root {
  box-sizing: border-box;
  font-size: 0.75em;

  /* Dynamic configuration for themes switch */
  // Light theme by default
  --bg-color: hsl(0, 0%, 100%);
  --bg-top-color: hsl(225, 100%, 98%);
  --toggle-bg-color: hsl(230, 22%, 74%);
  --card-bg-color: #f0f3fa;
  --card-bg-hover-color: rgba(225, 227, 240, 1);
  --text-primary-color: hsl(230, 17%, 14%);
  --text-secondary-color: hsl(228, 12%, 44%);
}

body.dark-mode {
  --bg-color: hsl(230, 17%, 14%);
  --bg-top-color: hsl(232, 19%, 15%);
  --toggle-bg-color: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --card-bg-color: hsl(228, 28%, 20%);
  --card-bg-hover-color: rgba(51, 58, 86, 1);
  --text-primary-color: hsl(0, 0%, 100%);
  --text-secondary-color: hsl(228, 34%, 66%);
}

@media (min-width: $screen-mobile) {
  :root {
    font-size: 0.875em;
  }
}

@media (min-width: $screen-desktop) {
  :root {
    font-size: 1em;
  }
}

*,
::before,
::after {
  /* Allow third-party component to set other box-sizing value */
  box-sizing: inherit;
}

body * + * {
  margin-top: 1.5em;
}

@font-face {
  // Font weight 400
  font-family: $font-inter-regular;
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  // Font weight 700
  font-family: $font-inter-bold;
  src: url("../fonts/Inter-Bold.ttf");
}

body {
  background: linear-gradient(var(--bg-top-color) 18em, var(--bg-color) 0);
  padding: 1em 2em;
  font-family: $font-inter-bold, sans-serif;
}

.header__title {
  margin-bottom: 0.25em;
  font-size: 1.75rem;
  font-family: $font-inter-bold;
  color: var(--text-primary-color);
}

.header__subtitle {
  margin-top: 0;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 1px solid var(--text-secondary-color);

  h3 {
    font-weight: 400;
    color: var(--text-secondary-color);
  }

  .toggle-btn {
    margin-top: 0;

    &:hover,
    &:active {
      opacity: 0.5;
    }

    label {
      margin-top: 0;
    }

    .tgl {
      &:checked + .tgl-btn {
        background: var(--toggle-bg-color);
      }

      + .tgl-btn {
        background: var(--toggle-bg-color);
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease;
        &:after {
          border-radius: 50%;
          background: var(--card-bg-color);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.overall {
  margin-bottom: 3.5em;

  article {
    background-color: var(--card-bg-color);
    border-radius: 0.25em;
  }
  article:hover,
  article:active {
    cursor: pointer;
    background-color: var(--card-bg-hover-color);
  }
  article > header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;

    img {
      margin-right: 0.5em;
    }

    h4 {
      margin: 0;
      font-weight: 400;
      color: var(--text-secondary-color);
    }
  }
  article > div {
    text-align: center;
    p:first-child {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 4rem;
      color: var(--text-primary-color);
    }
    p:nth-child(2) {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-family: $font-inter-regular;
      font-weight: 400;
      letter-spacing: 0.3em;
      color: var(--text-secondary-color);
    }
  }
  article > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    color: $primary-lime-green;

    img {
      margin-right: 0.25em;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .facebook {
    border-top: 4px solid $primary-facebook;
  }

  .twitter {
    border-top: 4px solid $primary-twitter;
  }

  .instagram {
    border-top: 4px solid;
    // This is incompatible with border-radius, unfortunate for such neat API
    border-image: $primary-instagram 1;
  }

  .youtube {
    border-top: 4px solid $primary-youtube;

    h5 {
      color: $primary-bright-red;
    }
  }
}

.overview__title {
  letter-spacing: 0.05em;
  font-size: $overview-heading-font-size;
  color: var(--text-secondary-color);
}

.overview__content {
  display: block;

  article {
    background-color: var(--card-bg-color);
    border-radius: 0.25em;
    padding: 1.5em;
  }
  article:hover,
  article:active {
    cursor: pointer;
    background-color: var(--card-bg-hover-color);
  }
  article > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
      margin-top: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 400;
      color: var(--text-secondary-color);
    }
  }
  article > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3rem;
      color: var(--text-primary-color);
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
      color: $primary-lime-green;

      img {
        margin-right: 0.25em;
      }

      h5 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .facebook-views,
  .twitter-likes,
  .twitter-retweets {
  }

  .facebook-likes,
  .youtube-likes,
  .youtube-views {
    h5 {
      color: $primary-bright-red;
    }
  }
}

@media screen and (min-width: $screen-desktop) {
  body {
    background: linear-gradient(var(--bg-top-color) 20em, var(--bg-color) 0);
    padding-left: 8em;
    padding-right: 8em;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
  }

  .dark-mode-toggle {
    border-top: none;
    margin: 0;

    h3 {
      margin: 0;
      padding-right: 1em;
    }
  }

  .overall,
  .overview__content .first-row,
  .overview__content .second-row {
    display: flex;
    align-items: center;

    article {
      flex: 1;
      margin-top: 0;
    }
    article:not(:last-child) {
      margin-right: 2em;
    }
  }
}

.attribution {
  text-align: center;
  font-family: $font-inter-regular;
  font-size: 0.825rem;
  color: var(--text-primary-color);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
