/* Breakpoints */
/* Primary*/
/* Dark theme */
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl:checked + .tgl-btn {
  background: #aeb3cb;
}
.tgl + .tgl-btn {
  background: linear-gradient(to right, #378fe6, #3eda82);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl + .tgl-btn:after {
  border-radius: 50%;
  background: white;
  transition: all 0.2s ease;
}

/*# sourceMappingURL=toggle-button.css.map */
