/* Breakpoints */
$screen-mobile: 375px;
$screen-desktop: 1440px;

/* Primary*/
$primary-lime-green: hsl(163, 72%, 41%);
$primary-bright-red: hsl(356, 69%, 56%);
$primary-facebook: hsl(208, 92%, 53%);
$primary-twitter: hsl(203, 89%, 53%);
$primary-instagram: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$primary-youtube: hsl(348, 97%, 39%);
$font-inter-regular: "Inter-Regular";
$font-inter-bold: "Inter-Bold";

/* Dark theme */
$bg-dark-theme: hsl(230, 17%, 14%);
$bg-top-dark-theme: hsl(232, 19%, 15%);
$card-bg-dark-theme: hsl(228, 28%, 20%);
$toggle-bg-dark-theme: linear-gradient(
  to right,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);
$text-white: hsl(0, 0%, 100%);
$text-blue-dark-theme: hsl(228, 34%, 66%);

// Light theme
$bg-light-theme: hsl(0, 0%, 100%);
$bg-top-light-theme: hsl(225, 100%, 98%);
$card-bg-light-theme: hsl(228, 12%, 44%);
$toggle-bg-light-theme: hsl(230, 22%, 74%);
$text-dark: hsl(230, 17%, 14%);
$text-blue-light-theme: hsl(228, 12%, 44%);

$overview-heading-font-size: calc(14 / 16) rem;
